* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

h1 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01rem;
  color: #1f2d3d;
}

.fixed-btn {
  background-color: #ffc82c;
  width: 1440px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 50px;
  line-height: 125%;
  font-weight: 900;
  font-style: bold;
  color: #ffffff;
  letter-spacing: -0.03rem;
  margin-top: 169px;
}

button {
  border-radius: 16px;
  border: 2px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01rem;
  padding: 16px 38px;
  margin-top: 32px;
  cursor: pointer;
}

.title {
  background-image: url(img-bg.jpg);
  background-position: center center;
  width: 1440px;
  height: 820px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}
