* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: black;
}

.card-title {
  background-color: #fff;
  position: relative;
  letter-spacing: 0.01rem;
  line-height: 32px;
  width: 400px;
  height: 114px;
}

.price-per-person {
  position: absolute;
}

h1 {
  font-size: 22px;
  color: #1f2d3d;
  font-weight: 500;
  padding-top: 12px;
  margin-left: 16px;
}

strong {
  font-size: 16px;
  color: #7d858f;
  font-weight: 400;
  padding-top: 2px;
  margin-left: 16px;
}

.per {
  font-size: 16px;
  color: #273444;
  font-weight: 400;
  display: inline-block;
  margin-left: 280px;
  margin-top: 8px;
}

.price {
  font-size: 22px;
  color: #2860e1;
  font-weight: 700;
  font-style: bold;
  display: inline-block;
}

.grand-canyon {
  width: 400px;
  height: 240px;
  position: relative;
}

.backward {
  position: absolute;
  left: 0;
  top: 108.45px;
}

.forward {
  position: absolute;
  left: 373px;
  top: 108.45px;
}

.image {
  height: 210px;
}
